h4{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px;
}
.social{
    display: flex;
    justify-content: center;
    align-items: center;
}
.media{
    padding: 0 30px;
    cursor: pointer;
}
.icons:hover{
    color: white;
}