nav{
    display: flex;
    align-items: center;
    background-color: rgb(60, 60, 60);
}
.navbar-brand{
    font-weight: 600;
    font-size: 1.5rem;
    display: flex;
    justify-content: left;
    color: rgb(184, 255, 92);
}
.navbar-brand:hover{
    color: rgb(184, 255, 92);
}
.nav-link,
.navbar-toggler,
.navbar-toggler-icon
{
    color: white;
}

.nav-link:hover,
.navbar-toggler:hover,
.navbar-toggler-icon:hover
{
    color: rgb(184, 255, 92);
}


.navbar-collapse{
    display: flex;
    justify-content: end;
    align-items: center;
}
ul li{
    font-size: 1.2rem;
    list-style: none;
    color: white;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px 15px;
    margin: 5px 15px;
}
